*{
	padding: 0px;
	margin: 0px;
}


.form{
	display: flex;
	justify-content: center;
}
table{
	border-collapse: collapse;
	
}
td,tr{
		border: 1px solid black;
		text-align: center;
	}

td{
	width: 100px;
	height: 30px;
}
